*{
    transition:0.6s;
}

.load {
    width: 100%;
    height:100%;
    position: fixed;
    z-index: 10000000000;
    background-color: white;
    text-align: center;
    opacity:0;
}

.load img{
    margin-top: 5%;
}

body {
    background-image: linear-gradient(#cee4f8, #ffffff);
    font-family: "Poppins", sans-serif !important;
}

{# HEADER #}
ul#nav{
    margin: 0px;
    padding: 0px;
    width: 95%;
}

nav.navbar {
    border-radius: 0px 0px 36px 36px;
}

.navbar-nav .nav-item {
    margin-right: 30px;
    position: relative;
    text-align: center;
    color: white;
}
.hinhanh img {
    width: 130%;
}

.navbar-nav .nav-item a {
    color: #454141f0;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    font-weight:600;
}
.navbar-nav .nav-item a:hover {
   background-color: #68e1f233;
   border-radius: 20px;
   box-shadow: 0 0 1px 10px #eee;
   background-postion: right center;
}
.navbar-nav li:last-child{
    margin-left:auto;
    display:flex;
}
.btn_login {
    border-radius: 7px;
    margin-right: 14px;
    background-color:#4d87e8;
    color:white !important;
}
.btn_login:hover {
    color: black !important;
}
.avatar{
    width:36px;
    height: 32px;
    border-radius: 18px;
    margin-right: 20px;
}

/* =========================Body============================*/
{# BODY #}
h1#chaomung {
     text-align: center;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 800;
     font-size: 20;
     padding: 20px;
     color: #00adc6;
}
.form-control#mota{
    height:700px

}

a#gototop{
    text-decoration: none;
    opacity: 1!important;
    color: gray !important;
    width: 55px;
    height: 55px;
    border-radius: 200px;
    background-color: white;
    text-align: center;
    font-weight: 1000;
    font-size: 34px;
    position: fixed;
    display: block;
    right: 15px;
    bottom: 15px;
    z-index: 999;
    box-shadow: 1px 0px 28px -9px black;
    border: 7px solid #46aee98f;
}
.toT{
    color:black;
}
a#gototop:hover {
    box-shadow: 1px 0px 9px 4px #00ff6c;
    transition: 0.5s;
}
#ThongBao{
    size:20px;
    color:red;
    text-align:center;
}

select#gender {
    border: none;
    background: rgb(242 240 246);
    border-radius: 10px;
    height: 56px;
    width: 19%;
    text-align: center;
}

.container {
    width:80%;
    max-width: 1000px;
}

.btn {
    margin: 5px
}

/* =========================Footer============================*/
{# FOOTER #}
div.jumbotron {
    color: white;
    background-color: #58acd0a3;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border-radius: 36px 36px 0px 0px;
    margin-bottom: 0%;
    text-align:center;
    padding: 20px;
}
div.jumbotron h3{
    float:left;
    margin-right:10px;
    width: 35%;
    font-weight: 600;
}
div.jumbotron input{
    width: 20% !important;
    float:left;
    margin-left: 1% !important;
}
div.jumbotron input:last-child {
    width: 10% !important;
    background: orange !important;
    border:none;
}
