
<nav class="navbar navbar-expand-lg">

    <div class="navbar-collapse sub-menu-bar collapse" id="navbarSupportedContent" style="">
        <ul id="nav" class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="page-scroll" href="{{ url_for('TrangChu')}}">Trang Chủ</a>
            </li>

            {% if current_user.is_authenticated %}
             <li class="nav-item">
                <div>
                    {% if current_user.avatar %}
                        <img class="avatar" src="{{ current_user.avatar }}">
                    {% else %}
                        <img class="avatar" src="{{ url_for('static', filename='images/pngegg.png') }}">
                    {% endif%}
                </div>
                <div>
                    <div class="btn_login" >{{ current_user.tenNguoiDung}}</div>
                </div>
                 <div>
                    <a class="btn_logout" href="{{ url_for('user_signout')}}">Đăng xuất</a>
                </div>
             </li>
            {% else %}
            <li class="nav-item">
                <div>
                    <a class="btn_login" href="{{ url_for('user_register')}}">Đăng kí</a>
                </div>
                 <div>
                    <a class="btn_logout" href="{{ url_for('user_signin')}}">Đăng nhập</a>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>